.gift-section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.gift-section > div{
    flex: 1;
    margin: 0 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 10px;
    text-align: left;
}