/* ChatAI.css */
.chat-container div {
    width: 400px;
    max-width: 100%;
    height: 40vh;

    background: #9b9b9b;
    border: 1px solid #cacaca;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(240, 240, 240, 0.1);
    padding: 8px;
    margin-bottom: 16px;

    overflow-y: auto;
    scroll-behavior: smooth;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    padding: 4px 8px;

    > span {
        width: 36px;
        height: 36px;
        background:  #eee;
        color: #000000;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999999px;
    }

    > p {
        border-radius: 4px;
        padding: 4px 8px;
        margin-top: 8px;
        color: #000000;
    }

    &.user {
        align-self: flex-end;
        align-items: flex-end;

        span, p {
            background: rgb(219, 236, 255);
        }
    }

    &.assistant {
        align-self: start;
        span, p {
            background: rgb(198, 255, 220);
        }
    }
}

form {
    display: flex;
    
    input {
        border-radius: 999999px;
        flex-grow: 1;
        border: 0;
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
    }

    button {
        background: rgb(21, 88, 177);
        border: 0;
        color: rgb(255, 235, 235);
        border-radius: 6px;
        cursor: pointer;
        padding: 8px;
        transition: background .3s ease;

        &[disabled] {
            background: #ccc;
            opacity: .6;
            pointer-events: none;
        }

        &:hover {
            background: rgb(0, 104, 173);
        }
    }
}

small{
    font-size: 10px;
    color: #ffffff;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
}
