@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 34% 13%; /* Cambiado a un azul grisáceo oscuro */
    --foreground: 204 204 204;

    --muted: 215 27% 16%;
    --muted-foreground: 153 153 153;

    --popover: 210 34% 13%;
    --popover-foreground: 204 204 204;

    --card: 215 28% 17%;
    --card-foreground: 204 204 204;

    --border: 215 28% 17%;
    --input: 215 28% 17%;

    --primary: 210 100% 52%;
    --primary-foreground: 204 204 204;

    --secondary: 215 27% 16%;
    --secondary-foreground: 204 204 204;

    --accent: 215 27% 16%;
    --accent-foreground: 204 204 204;

    --destructive: 0 62% 30%;
    --destructive-foreground: 204 204 204;

    --ring: 215 28% 17%;

    --radius: 0.5rem;

    --chart-1: 200 100% 50%;
    --chart-2: 150 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  vertical-align: middle;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Estilos globales para inputs */
input, select, textarea {
  background-color: hsl(215 28% 17%);
  color: hsl(204 204 204);
  border: 1px solid hsl(215 28% 17%);
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: hsl(210 100% 52%);
  box-shadow: 0 0 0 2px hsla(210, 100%, 52%, 0.25);
}

/* Estilos para el placeholder */
input::placeholder, select::placeholder, textarea::placeholder {
  color: hsl(153 153 153);
}
